
body {
    background-color:rgba(98, 0, 255, 0.103);    
  }
  h1 {
    color: blue;
    font-family: verdana;
    font-size:150%;
    border:2px solid rgb(230, 176, 176);
    padding: 30px;
    margin: 50px;
  }
  p {
    color: red;    
  }
